<h1>Listing queue_classic_jobs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @queue_classic_jobs.each do |queue_classic_job| %>
  <tr>
    <td><%= queue_classic_job.q_name  %></td>
    <td><%= queue_classic_job.method  %></td>
    <td><%= queue_classic_job.args.inspect%></td>
    <td><%= link_to 'Destroy', queue_classic_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

