.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
spec/dummy-no-later/db/*.sqlite3
spec/dummy-no-later/log/*.log
spec/dummy-no-later/tmp/
spec/dummy-no-later/.sass-cache
tags
.DS_Store
test/
Gemfile.lock
